nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    border: 5px double #413d3d;
    padding: 10px;
    border-radius: 10px;
}

img {
    max-width: 925px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    color: #f39c12; /* Change color on hover */
}
    

header {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
}